*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
header div{
    font-size: 34px;
    font-family: cursive;
    font-weight: 600;
}
#btn1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#MainHeading{
    margin-bottom: 15px;
}
#instructions {
    display: none ;
}
#instructions.show {
    display: block;
    position: absolute;
    background-color:white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    margin-left:450px ;
 box-shadow: 1px 1px  #333;
    
}
#instructions pre {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color:black;
    text-align: center;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background-color: lightblue;
 /* background: linear-gradient(to bottom, #1971c2,#4dabf7); */

  background-repeat: no-repeat;
  background-size: cover;

    flex: 1;
    overflow-y: auto;
}
button{
    background-color:#1971c2 ;
    padding: 15px;
    border-radius: 25px;
    width: 100px;
    align-self: center;
    
}
header{
    background-color: white;
    padding: 35px;
    text-align: center;
}
.name,.email,.password,.studentId{
padding-right: 15px;
padding-left: 55px;
padding-top: 10px;
padding-bottom: 10px;
margin: 15px;
border-radius: 5px;

}
.name  :hover{
border: 2px solid lightblue;
}

.section1{
    background-color: white;
    padding-left: 130px;
    margin-right: 55px;
}
.section2{
    background-color: white;
    padding: 20px;
    margin-left: 55px;
    border-radius: 6px;
}

.section1,.section2{
    border-radius: 6px;
     
}

#imp-heading{
    background-color: lightblue;
}

/* Records Table Styles */
.records-table {
    width: 100%;
    margin-top: 15px;
}

.records-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.records-table caption {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 12px;
    text-align: left;
    padding: 10px 0;
}

.records-table thead tr {
    background-color: lightblue;
}

.records-table th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #ddd;
}

.records-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    color: #555;
    text-align: left;
}

.records-table tbody tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}
footer{
    position: sticky;
    bottom: 0;
    color: white;
    background-color: black;
    padding: 25px;

}
footer ul{
    display: flex;
    justify-content: space-between;

}

footer ul li{
    list-style: none;
}
